# 推送，发布csix，npm publish
# registry=http://nexus.6fenyi.com:8081/repository/npm-hosted-cc/
# yarn install
# registry=http://nexus.6fenyi.com:8081/repository/npm-group/


registry=https://registry.npmjs.org/